@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Poppins", sans-serif;
}

header {
  width: 90%;
  margin: 0 auto;
  margin-top: 1.8em;
  text-align: center;
  background-color: #f7f7f7;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.5);
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 3em auto;
  padding: 1.2em 0.5em;
  gap: 1.2rem;
  text-align: justify;
  border: 2px solid rgba(128, 128, 128, 0.231);
}

article h2 {
  text-align: center;
  font-size: 2rem;
}

article p {
  font-size: 1.12rem;
  padding: 0 1em;
}

img {
  width: 80%;
}

figcaption {
  width: 80%;
  background-color: #222;
  color: #fff;
  padding: 0.3em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2;
}

figcaption span {
  text-transform: none;
  font-style: italic;
}
